.earth-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: #000;
  }
  
  .earth {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vw;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.7;
    background: url("https://static.tumblr.com/e2c647b3796619b3f218497f9f7eff55/dxslleg/eU3mpdtt1/tumblr_static_space.jpg");
    background-size: cover;
    box-shadow:
      inset 16px 0 50px 6px rgb(0, 0, 0),
      inset -3px 0 10px 2px rgba(255, 255, 255, 0.2);
    animation: rotate 60s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200vw -200vw;
    }
  }
  